Selector{
	Property: value;
}
body {
	background-image: url(backgroundimage)
}
h2 {
	color: black; 
	text-align: vertical-align;
	border;
	font-size: 20px
}

p{
	color: black;
	text-align: vertical-align;
}

img {
	float: left; padding-right: 20px;"
}

li {list-style: none;
display: inline-block;}

p{
	line-height: 15px;

	font-style: bold;

	font-weight: bold;

}
.button}
 { 
	cursor: pointer;
	position: absolute;
	bottom: 10px
	left: 50%
	margin-left: -104.5px 
}
<img src="img_girl.jpg" style="width:100%;">

<link rel="stylesheet" href="print.css" media="print">

<link rel="stylesheet" media="(max-width: 640px)" href="max-640px.css">
<link rel="stylesheet" media="(min-width: 640px)" href="min-640px.css">
<link rel="stylesheet" media="(orientation: portrait)" href="portrait.css">
<link rel="stylesheet" media="(orientation: landscape)" href="landscape.css">
<style>
  @media (min-width: 500px) and (max-width: 600px) {
    h1 {
      color: fuchsia;
    }

    .desc:after {
      content:" In fact, it's between 500px and 600px wide.";
    }
  }
</style>

@media (min-width: 575px) {
  article {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}


