Selector{
	Property: value;
}
body {
	background-image: url(backgroundimage)
}
h2 {
	color: black; 
	text-align: vertical-align;
	border;
	font-size: 20px
}

p{
	color: black;
	text-align: vertical-align;
}

img {
	float: left; padding-right: 20px;"
}

li {list-style: none;
display: inline-block;}

p{
	line-height: 15px;

	font-style: bold;

	font-weight: bold;

}
.button}
 { 
	cursor: pointer;
	position: absolute;
	bottom: 10px
	left: 50%
	margin-left: -104.5px 
}
<img src="img_girl.jpg" style="width:100%;">

<link rel="stylesheet" href="print.css" media="print">

</style>




