Selector{
	Property: value;
}
margin: auto;
body {
	background-image: url(backgroundimage)
}
h2 {
	color: black; 
	text-align: 5vw vertical-align;
	border;
	font-size: 5vw
}

p{
	color: black;
	text-align : vertical-align;
}

img {
	float: left; padding-right: 20px;"
}

li {list-style: none;
display: inline-block;}

p{
	

}
.button}
 { 
	cursor: pointer;
	position: absolute;
	bottom: 10px
	left: 50%
	margin-left: -104.5px 
}
<img src="img_girl.jpg" style="width:100%;">


@media(min-width: 600px) {
p {
	font-size: 1.25rem;
}

@media (min-width: 800px) {

p {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
}




  






